body {
  color: white;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* UNDERLINE */
.underline {
  max-width: 100%; 
  font-family: Arial, Verdana, sans-serif;
}

p {
  width: 100%; 
  max-width: 600px;
  margin: 10px auto; /
  padding: 5px;
}

/* TEXT POSITION */
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; 
  gap: 15px;
  flex-wrap: wrap;
}
/* UI ANIMATION BUTTONS */
ul li a {
  display: inline-block;
  padding: 15px 30px;
  background-color: rgb(128, 128, 128);
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

ul li a:hover {
  background-color: #4752c4;
  transform: translateY(-7px);
}

ul li a:active {
  transform: translateY(0);
}
/* BACKGROUND ANIMATION */
#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 50%;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  padding: 16px;
  border: 0.25rem solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 50px -12px rgba(0px, 0, 0, 0.5);
}
/* UI GLOW */
ul li a:hover {
  background-color: gray;
  transform: translateY(-7px);
  
  box-shadow: 0 0 10px gray, 
              0 0 30px gray, 
              0 0 60px gray, 
              0 0 100px rgba(128, 128, 128);
  
  text-shadow: 0 0 5px #fff;
}